<html>
    <head>
        <title>Housing Prediction</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <body>
        <h1>
            Predicting housing prices in Seatle
        </h1>
        <h4>This model should be {{ metadata['score']*100 }}% accurate</h4>
        
        <form>
        {% for label in metadata['labels'] %}
        <p>{{ label }}:</p> <input id="{{label}}"></input>
        {% endfor %}
        <button id="submit">Submit</button>
        </form>
        <div id="result"></div>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
        <script src="static/index.js"></script>
    </body>
</html>